{% extends 'base.html' %}

{% block title %}home {% endblock title %}

{% block body %}
{% comment %} image slider {% endcomment %}
<div class= "conntainer- fluid my-0">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/slide image/1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/slide image/2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/slide image/3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


{% comment %} thumblin divisiion {% endcomment %}
<div class="container my-4">
  <div class="my-2 text-center"> <h3>Salect from are range of Bricks</h3></div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
             <img id = "img1" src="/static/thumblin image/1.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">it is a number 1 bricks and heigh quality ent. its price is <b>4000 rs. per 1000 ent. for more information contact us </b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"onclick="img1()">Contact</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img id = "img2" src="/static/thumblin image/2.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">it is a number 1 bricks and heigh quality ent. its price is <b>4000 rs. per 1000 ent.</b> for more information please contact us</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"onclick="img2()">Contact</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img id = "img3" src="/static/thumblin image/3.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">it is a number 1 bricks and heigh quality ent. its price is <b>4000 rs. per 1000 ent.</b> for more information please contact us </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"onclick="img3()">Contact</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script>
    function img1(){
      myfunction();
    }
        function img2(){
      myfunction();
    }
        function img3(){
      myfunction();
    }
      function myfunction(){
        location.assign("/contact");
      }
    </script
{% endblock body %}